

<div class="container-fluid">
  <h1> DREAM UP </h1>
  <p> share your dreams</p>

  <button type="button" class="btn btn-light"><%= link_to 'Lets Dream' , dreams_path %></button>

</div>

<% @dreams.each do |dream| %>
    <div class="card" style="max-width: 20rem;float:left">

        <div class="card-body">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
            </div>
            <br>
            <h4 class="card-title"><%= dream.user.user_name%></h4>
            <p class="card-text"><%= dream.post %></p>
            <%= link_to "see more", dream %>
        </div>
    </div>

</div>
<% end %>
<div style="clear:both"></div>











