

<div class="container-fluid">
 <h1> DREAM UP </h1>
 <p> share your dreams</p>

 <button type="button" class="btn btn-light"><%= link_to 'Lets Dream' , dreams_path %></button>

</div>

<div class="card" style="max-width: 20rem;">

<div class="card-body">
<h4 class="card-title">@user</h4>
<p class="card-text">Here are the top resources for all things related to the Sun.</p>
<!-- Links -->
<a href="#" class="card-link">see more</a>
</div>

</div>

<div class="card" style="max-width: 20rem;">

<div class="card-body">
<h4 class="card-title">Sun Gone</h4>
<p class="card-text">Here are the top resources for all things related to the Sun.</p>
<!-- Links -->
<a href="#" class="card-link">see more</a>
</div>

</div>


